{
    "include": [
        "src/**/*.js"
    ],
    "exclude": [
        "src/index.js",
        "src/routes/*.js",
        "**/node_modules/**",
        "**/test/**",
        "**/coverage/**"
    ],
    "all": true
}